<div ng-cloak>
    <h1>Welcome!</h1>

    <div ng-switch="vm.isAuthenticated()">
        <div ng-switch-when="true">
            You are logged in as user "{{vm.account.login}}".
            <div>
                <a href="" ng-click="vm.logout()" id="logout">
                    <span>Sign out</span>
                </a>
            </div>
        </div>

        <div class="alert alert-warning" ng-switch-when="false">
            If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default
            accounts:<br/>- Teacher (login="teacher" and password="teacher") <br/>- Student (login="student" and
            password="student").
        </div>
    </div>
</div>
